<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport"
	content="width = device-width, initial-scale = 1, shrink-to-fit = no">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
<title>Person Administration</title>
</head>
<body>
	<div class="container">
		<h2>Person Administration</h2>
	</div>
	<div id="nav">
		  <a class = "nav-link" href = "./changepwd">Change your password</a>
		  <p>
		  <a class = "nav-link" href = "./searchperson">Search persons</a>
		  <p>
		  <a class = "nav-link" href = "./personform">Add a person</a>
		  <p>
		  <a class = "nav-link" href = "./deleteperson">Delete a person</a>
		  <p>
		  <a class = "nav-link" href = "./index">Home</a>
		  <p>
	</div>
</body>
</html>